---
import {Picture} from "@astrojs/image/components";

const posts = await Astro.glob("../pages/posts/*.md");
---

<div class="container max-w-prose flex flex-col self-center box-content justify-start grow">
  {
    posts.map((post) => (
      <a class="" href={post.url}>
        <article class="px-2 sm:px-0 box-content">
          <div class="w-fit py-1 uppercase tracking-wider font-mono hidden lg:block">{post.frontmatter.kicker}</div>
          <div class="max-w-prose pt-1 overflow-hidden">
            <Picture src={post.frontmatter.banner} widths={[1200]} aspectRatio="21:9" alt="Article Banner"/>
          </div>
          <div class="text-3xl py-1 font-bold">{post.frontmatter.title}</div>
          <div class="">{post.frontmatter.description}</div> 
        </article>
      </a>
    ))
  }
</div>
