---
import {SEO} from "astro-seo";
import Navbar from "../layouts/navbar.astro";
import Footer from "../layouts/footer.astro";
import {Picture} from "@astrojs/image/components";

const { frontmatter } = Astro.props;
const ogTitle = frontmatter.title;
const ogImage = frontmatter.banner;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <SEO 
            title={frontmatter.title}
            description={frontmatter.description}
            openGraph={
                {
                    basic: {
                        title: {ogTitle},
                        type: "image/png",
                        image: {ogImage}
                    },
                    image: {
                        alt: "Blog banner"
                    }
                }
            }
        />
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/global.css" />
		<!--title>{frontmatter.title}</title-->
    </head>
    <body class="flex flex-col min-h-screen text-gray-dark">
        <Navbar />
        <div class="container mx-auto flex flex-col justify-center items-center mt-20 px-2 lg:px-0">
            <div class="conatainer max-w-prose">
                <div class="w-fit container uppercase underline underline-offset-4 decoration-1 tracking-wider font-mono">{frontmatter.kicker}</div>
                <div class="text-5xl font-black pt-4 pb-12">{frontmatter.title}</div>
            </div>
            <div class="max-w-screen-lg">
                <Picture src={frontmatter.banner} widths={[1200]} aspectRatio="16:9" alt="Article Banner"/>
            </div>
            <article class="container prose pt-12">
                <slot />
            </article>
        </div>
        <Footer />
    </body>

</html>
